@import '../../assets/styles/core';
.anime-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        margin-top: $gutter-half;
    }
}

.anime {
    border: 1px solid #ccc;
    &__img {
        width: 100%;
        img {
            min-width: 100%;
        }
    }
    &__info {}
    &__name {}
}

.anime-list {}